[user]
	name = Y.Ninomiya(kadoma)
	email = kadoma.fukakusa248@gmail.com
[core]
	editor = nvim
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[init]
	defaultBranch = main
[rebase]
  autostash = true
[alias]
  d = diff
  su = status
  b = branch
  co = checkout
  si = switch
  a = add
  aa = add -A
  cm = commit -m
  ps = "!git push origin $(git rev-parse --abbrev-ref @)"
  cp = cherry-pick
  ll = log --graph --date=relative --name-status --abbrev-commit
  sl = log --graph --oneline --date=relative --abbrev-commit
  df = difftool -y
  mt = mergetool -y
[diff]
  tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
  trustExitCode = true
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
  keepBackup = false
